<% if @ingredient.present? %>
  <% if @ingredient.errors.any? %>
    <% @ingredient.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new ingredient
</h1>


<hr>

<form action="/create_ingredient" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <textarea id="name" name="name" class="form-control" rows="3"><%= @ingredient.name %></textarea>
  </div>

  <div class="form-group">
    <label for="quality">
      Quality
    </label>

    <textarea id="quality" name="quality" class="form-control" rows="3"><%= @ingredient.quality %></textarea>
  </div>

  <div class="form-group">
    <label for="food_group">
      Food group
    </label>

    <textarea id="food_group" name="food_group" class="form-control" rows="3"><%= @ingredient.food_group %></textarea>
  </div>

  <div class="form-group">
    <label for="picture">
      Picture
    </label>

    <input type="file" id="picture" name="picture" class="form-control">
  </div>

  <div class="form-group">
    <label for="image">
      Image
    </label>

    <input type="text" id="image" name="image" class="form-control" value="<%= @ingredient.image %>">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @ingredient.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create ingredient
  </button>
</form>

<hr>

<a href="/ingredients">
  Go back
</a>
