<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All bill has ingredients
    </h1>

    <a href="/bill_has_ingredients/new" class="btn btn-block btn-outline-secondary">
      Add a new bill has ingredient
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "bill_has_ingredient_templates/bill_has_ingredients_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Bill
        </th>

        <th>
          Ingredient
        </th>

        <th>
          Quantity
        </th>

        <th>
          Bill ingredient unit
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @bill_has_ingredients.each do |bill_has_ingredient| %>
      <tr>
        <td>
          <%= bill_has_ingredient.id %>
        </td>

        <td>
          <% if bill_has_ingredient.bill.present? %>
            <a href="/bills/<%= bill_has_ingredient.bill.id %>">
              <%= bill_has_ingredient.bill.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <% if bill_has_ingredient.ingredient.present? %>
            <a href="/ingredients/<%= bill_has_ingredient.ingredient.id %>">
              <%= bill_has_ingredient.ingredient.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= bill_has_ingredient.quantity %>
        </td>

        <td>
          <%= bill_has_ingredient.bill_ingredient_unit %>
        </td>

        <td>
          <%= time_ago_in_words(bill_has_ingredient.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(bill_has_ingredient.updated_at) %> ago
        </td>

        <td>
          <a href="/bill_has_ingredients/<%= bill_has_ingredient.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @bill_has_ingredients, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
