<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Bill has ingredient #<%= @bill_has_ingredient.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/bill_has_ingredients" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/bill_has_ingredients/<%= @bill_has_ingredient.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit bill has ingredient
        </a>
      </div>

      <div class="col">
        <a href="/delete_bill_has_ingredient/<%= @bill_has_ingredient.id %>" class="btn btn-block btn-outline-secondary">
          Delete bill has ingredient
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Bill
      </dt>
      <dd>
        <% if @bill_has_ingredient.bill.present? %>
          <a href="/bills/<%= @bill_has_ingredient.bill_id %>">
            <%= @bill_has_ingredient.bill.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Ingredient
      </dt>
      <dd>
        <% if @bill_has_ingredient.ingredient.present? %>
          <a href="/ingredients/<%= @bill_has_ingredient.ingredient_id %>">
            <%= @bill_has_ingredient.ingredient.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Quantity
      </dt>
      <dd>
        <%= @bill_has_ingredient.quantity %>
      </dd>

      <dt>
        Bill ingredient unit
      </dt>
      <dd>
        <%= @bill_has_ingredient.bill_ingredient_unit %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@bill_has_ingredient.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@bill_has_ingredient.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

