<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All bills
    </h1>

    <a href="/bills/new" class="btn btn-block btn-outline-secondary">
      Add a new bill
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "bill_templates/bills_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Date purchased
        </th>

        <th>
          Ingredient count
        </th>

        <th>
          Grocery store
        </th>

        <th>
          Price
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @bills.each do |bill| %>
      <tr>
        <td>
          <%= bill.id %>
        </td>

        <td>
          <%= bill.date_purchased %>
        </td>

        <td>
          <%= bill.ingredient_count %>
        </td>

        <td>
          <%= bill.grocery_store %>
        </td>

        <td>
          <%= bill.price %>
        </td>

        <td>
          <% if bill.user.present? %>
            <a href="/users/<%= bill.user.id %>">
              <%= bill.user.created_at %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(bill.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(bill.updated_at) %> ago
        </td>

        <td>
          <a href="/bills/<%= bill.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @bills, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
