<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Bill #<%= @bill.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/bills" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @bill.user %>
          <a href="/bills/<%= @bill.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit bill
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @bill.user %>
          <a href="/delete_bill/<%= @bill.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete bill
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Date purchased
      </dt>
      <dd>
        <%= @bill.date_purchased %>
      </dd>

      <dt>
        Ingredient count
      </dt>
      <dd>
        <%= @bill.ingredient_count %>
      </dd>

      <dt>
        Grocery store
      </dt>
      <dd>
        <%= @bill.grocery_store %>
      </dd>

      <dt>
        Price
      </dt>
      <dd>
        <%= @bill.price %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @bill.user.present? %>
          <a href="/users/<%= @bill.user_id %>">
            <%= @bill.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@bill.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@bill.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "bill_templates/bill_billhasingredients" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "bill_templates/bill_ingredients" %>
  </div>
</div>
