<% if @dish.present? %>
  <% if @dish.errors.any? %>
    <% @dish.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new dish
</h1>


<hr>

<form action="/create_dish" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <textarea id="name" name="name" class="form-control" rows="3"><%= @dish.name %></textarea>
  </div>

  <div class="form-group">
    <label for="cuisine">
      Cuisine
    </label>

    <textarea id="cuisine" name="cuisine" class="form-control" rows="3"><%= @dish.cuisine %></textarea>
  </div>

  <div class="form-group">
    <label for="meal_category">
      Meal category
    </label>

    <textarea id="meal_category" name="meal_category" class="form-control" rows="3"><%= @dish.meal_category %></textarea>
  </div>

  <div class="form-group">
    <label for="picture">
      Picture
    </label>

    <input type="file" id="picture" name="picture" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @dish.description %></textarea>
  </div>

  <div class="form-group">
    <label for="ingredient_count">
      Ingredient count
    </label>

    <input type="text" id="ingredient_count" name="ingredient_count" class="form-control" value="<%= @dish.ingredient_count %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create dish
  </button>
</form>

<hr>

<a href="/dishes">
  Go back
</a>
